<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.description }}" />
    <link rel="icon" href="{{ page.root }}/images/wn.ico"/>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ page.root }}/stylesheets/chessboard.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ page.root }}/stylesheets/stylesheet.css">

    <title>Échiquier de Villeneuve-Tolosane - {{ page.title }}</title>
  </head>

  <body>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <aside id="news">
          <h3>Les dernières actualités</h3>
          <ul id="post-list">
            {% for post in site.posts limit:1 %}
              <li>
                <a href="{{ page.root }}{{ post.url }}">{{ post.title }}</a> - <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span>
                {% if forloop.index == 1 %}
                  {{ post.content | strip_html | truncatewords:20}} <a href="{{ post.url }}">Lire la suite...</a>
                {% endif %}
              </li>
            {% endfor %}
            <li>
              <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1314353008650699%26id%3D1314106495342017&width=500&show_text=true&height=174&appId" width="500" height="174" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </li>
            <li>
              <blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1314353008650699&amp;id=1314106495342017" class="fb-xfbml-parse-ignore"><p>Excellente id&#xe9;e que d&#039;avoir cr&#xe9;e cette page facebook consacr&#xe9;e au club de Villeneuve</p>Publié par <a href="https://www.facebook.com/romain.sedran.7">Romain Sedran</a> sur&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1314353008650699&amp;id=1314106495342017">mercredi 12 avril 2017</a></blockquote>
            </li>
          </ul>
        </aside>
        {{ content }}
      </section>
    </div>
    
<div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1314353008650699&amp;id=1314106495342017" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1314353008650699&amp;id=1314106495342017" class="fb-xfbml-parse-ignore"><p>Excellente id&#xe9;e que d&#039;avoir cr&#xe9;e cette page facebook consacr&#xe9;e au club de Villeneuve</p>Publié par <a href="https://www.facebook.com/romain.sedran.7">Romain Sedran</a> sur&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1314353008650699&amp;id=1314106495342017">mercredi 12 avril 2017</a></blockquote></div>    
    {% include footer.html %}

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ page.root }}/javascripts/chessboard.js"></script>
    <script src="{{ page.root }}/javascripts/main.js"></script>

  </body>
</html>
