<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.description }}" />
    <link rel="icon" href="{{ page.root }}/images/wn.ico"/>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ page.root }}/stylesheets/chessboard.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ page.root }}/stylesheets/stylesheet.css">

    <title>Échiquier de Villeneuve-Tolosane - {{ page.title }}</title>
  </head>

  <body>
    
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <aside id="news">
          <h3>Les dernières actualités</h3>
          <ul id="post-list">
            {% for post in site.posts limit:4 %}
              <li>
                <a href="{{ page.root }}{{ post.url }}">{{ post.title }}</a> - <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span>
                {% if forloop.index == 1 %}
                  {{ post.content | strip_html | truncatewords:20}} <a href="{{ post.url }}">Lire la suite...</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </aside>
        {{ content }}
      </section>
    </div>
    <div class="fb-post" data-href="https://www.facebook.com/events/147954275736282/" data-show-text="true"></div>

    {% include footer.html %}

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ page.root }}/javascripts/chessboard.js"></script>
    <script src="{{ page.root }}/javascripts/main.js"></script>

  </body>
</html>
