<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.description }}" />
    <link rel="icon" href="{{ page.root }}/images/wn.ico"/>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ page.root }}/stylesheets/chessboard.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ page.root }}/stylesheets/stylesheet.css">

    <title>Échiquier de Villeneuve-Tolosane - {{ page.title }}</title>
  </head>

  <body>
    
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <ul id="post-list">
          {% for post in site.posts %}
          <li>
            <a href="{{ page.root }}{{ post.url }}">{{ post.title }}</a> - <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span>
            <p>{{ post.content | strip_html | truncatewords:20}}</p>
            <a href="{{ post.url }}">Lire la suite...</a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>
        
    <div class="fb-page" data-href="https://www.facebook.com/events/147954275736282/" data-tabs="timeline" data-width="100" 
         data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" 
         data-show-facepile="true">
    </div>

    {% include footer.html %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ page.root }}/javascripts/chessboard.js"></script>
    <script src="{{ page.root }}/javascripts/main.js"></script>
  </body>
</html>
